[submodule "somostotem"]
	path = somostotem
	url = git@git.vauxoo.com:vauxoo/somostotem.git
	branch = 16.0
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:vauxoo/edi-document.git
	branch = 16.0
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:vauxoo/mexico-document.git
	branch = 16.0
[submodule "l10n-mx-edi-factoring"]
	path = l10n-mx-edi-factoring
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-factoring.git
	branch = 16.0
[submodule "l10n-mx-edi-advance"]
	path = l10n-mx-edi-advance
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-advance.git
	branch = 16.0
[submodule "l10n-mx-edi-related-documents"]
	path = l10n-mx-edi-related-documents
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-related-documents.git
	branch = 16.0
[submodule "l10n-mx-edi-discount"]
	path = l10n-mx-edi-discount
	url = git@git.vauxoo.com:mexico/l10n-mx-edi-discount.git
	branch = 16.0
[submodule "gandalf"]
	path = gandalf
	url = git@git.vauxoo.com:vauxoo/gandalf.git
	branch = 16.0
