[submodule "somostotem"]
	path = somostotem
	url = git@git.vauxoo.com:vauxoo/somostotem.git
	branch = 16.0
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:vauxoo/edi-document.git
	branch = 16.0
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:vauxoo/mexico-document.git
	branch = 16.0
